@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Fredoka:wght@300..700&family=Luckiest+Guy&display=swap');

h1, h2, h3, label, p{
  /*
  font-family: 'Quicksand', sans-serif;
  */
  font-family: 'fredoka', sans-serif;
  /*
  font-family: 'Luckiest Guy', sans-serif;
  */
  /*
  font-family: 'Cabin Sketch', cursive;
  */
}

body{
  background-color: #f9f9f9;
}